[submodule "theme/posy-improved-cursor-linux"]
	path = theme/posy-improved-cursor-linux
	url = https://github.com/simtrami/posy-improved-cursor-linux

[submodule "config/awesome/cyclefocus"]
    path = config/awesome/cyclefocus
    path = https://github.com/blueyed/awesome-cyclefocus
