[submodule "config/kak/plugins/plug.kak"]
	path = config/kak/plugins/plug.kak
	url = https://github.com/robertmeta/plug.kak
[submodule "config/kitty/base16-kitty"]
	path = config/kitty/base16-kitty
	url = https://github.com/kdrag0n/base16-kitty
[submodule "config/rofi/base16-rofi"]
	path = config/rofi/base16-rofi
	url = https://gitlab.com/0xdec/base16-rofi.git
